html {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.h2 {
  text-align: center;
  font-size: x-large;
}

.h3 {
  font-size: xx-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center
  ;
}

.column {
  background-color: white;
  float: inline-end
  width: 33.33%;
}



